# STM32CubeIDE specific
.settings/
Debug/
Release/
.launches/
.vscode/

# CMake / Ninja
build/
CMakeUserPresets.json

# STM32CubeIDE metadata
.metadata/

# Build files
*.o
*.d
*.lst
*.map
*.elf

# Backup files
*.bak

# Data Outputs
scripts/acoustic_data
